<nav class="navbar navbar-expand-md bg-dark border-bottom border-bottom-dark mb-4" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Anime Advisor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{!-- <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">
        {{#if username}}
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signout">Log Out</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        {{/if}}
      </ul>
    </div> --}}
  </div>
</nav>