<div class="container">

  <form id="searchForm" class="form-row">
    <div class="form-group sm-3 mb-2 col-md-10">
      <input type="text" class="form-control" id="searchInput">
    </div>
    <button type="submit" class="btn btn-primary mx-1 mb-2 col">Search</button>
    <button id="clearForm" class="btn btn-danger mx-1 mb-2 col">Clear</button>
  </form>
  <div class="album py-1 bg-light">
    <div id="recommend" class="d-flex flex-wrap justify-content-center">

    </div>
    <button id="searchByRec" class="btn btn-primary mb-2 col my-1 px-1">Search by recommend</button>

  </div>

  <div class="album py-1 bg-light d-flex flex-wrap justify-content-center">
    <div id="spinner" class="spinner-border text-success" role="status" style="display:none;">
      <span class="sr-only">Loading...</span>
    </div>

    <div id="result" class="row">

    </div>
  </div>
</div>
