<div class="container">

  <form id="searchForm" class="form-row">
    <div class="form-group mx-sm-3 mb-2 col-10">
      <input type="text" class="form-control" id="searchInput">
    </div>
    <button type="submit" class="btn btn-outline-primary mb-2 col">Search</button>
    <button id="clearForm" class="btn btn-outline-danger mb-2 col ">Clear</button>
  </form>
  <div class="album py-5 bg-light">
    <div id="recommend" class="row">

    </div>
  </div>

  <div class="album py-5 bg-light">
    <div id="result" class="row">

    </div>
  </div>
</div>
