<div class="container">

  <form id="searchForm" class="form-row">
    <div class="form-group mx-sm-3 mb-2 col-10">
      <input type="text" class="form-control" id="searchInput">
    </div>
    <button type="submit" class="btn btn-primary mb-2 col">Search</button>
    <button id="clearForm" class="btn btn-danger mb-2 col">Clear</button>
  </form>
  <div class="album py-5 bg-light">
    <div id="recommend" class="d-flex flex-wrap justify-content-center">

    </div>
    <button id="searchByRec" class="btn btn-primary mb-2 col">Search by recommend</button>

  </div>

  <div class="album py-5 bg-light">
    <div id="result" class="row">

    </div>
  </div>
</div>
