<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Advisor</title>
  <!-- Modules CSS -->
  <link rel="stylesheet" href="/bootstrap-5.3.0-dist/css/bootstrap.min.css">
  <!-- Individual CSS -->
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/card.css">
  <!-- Modules Scripts -->
  <script defer src="/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="/js/handlebars.min-v4.7.7.js"></script>
  {{#if index}}
  <script defer type="module" src="/js/index.js"></script>
  {{/if}}
</head>

<body>
  {{> header}}
  {{{body}}}
</body>

</html>