<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Advisor</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Bootstrap Scripts -->
  <script defer src="/js/jquery-3.6.0.slim.min.js"></script>
  <script defer src="/js/popper.min.js"></script>
  <script defer src="/js/bootstrap.min.js"></script>
  <script defer src="/js/handlebars.min.js"></script>
  <!-- Individual Scripts -->
  {{#if index}}
  <script defer type="module" src="/js/index.js"></script>
  {{/if}}
</head>

<body>
  {{> header}}
  {{{body}}}
</body>

</html>
