<div class="container">
  <form id='signup'>
    <div class="form-group">
      <label for="username">Логин</label>
      <input type="text" class="form-control" id="username" name="username" minlength="4">
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" class="form-control" id="password" name="password" minlength="4">
    </div>
    <div class="form-group">
      <label for="cor-password">Повторите пароль</label>
      <input type="password" class="form-control" id="cor-password" name="corpassword" minlength="4">
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </form>
  <script defer src="/js/signup.js"></script>
</div>
