.border-no-radius,
.border-no-radius > .card-img-top {
  border-radius: 0;
}

.poster-aspect-ratio {
  aspect-ratio: 225 / 320;
  object-fit: cover;
}

.line-сlamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cursor-pointer {
  cursor: pointer;
}
